<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div id="navButtons">
      <h1 id="headerText">WELCOME, PLEASE CHOOSE AN OPTION!</h1>
      <div id="btns">
        <li id="signupBtn" onclick="signUpRedirectToPage()">
          <a href="/signup">SIGN UP</a>
        </li>
        <li id="signinBtn" onclick="signInRedirectToPage()">
          <a href="/signin">SIGN IN</a>
        </li>
      </div>
    </div>
  </body>
  <script>
    function signUpRedirectToPage() {
      window.location = "/signup";
    }
    function signInRedirectToPage() {
      window.location = "/signin";
    }
  </script>
</html>
