<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <form action="/signup", method="post" id="signupForm">
        <div id="signUps">
            <input type="text" name="username" id="signupUsernameHold" onfocus="this.placeholder=''", placeholder="USERNAME" required></input>
            <input type="password" name="password" id="signupPasswordHold" onfocus="this.placeholder=''", placeholder="PASSWORD" required></input>
            <button type="submit" id="signupSubmitBtn">SUBMIT</submit>
        </div>
    </form>
    <% if (typeof errmsg !== "undefined") { %>
        <p id="errmsg"> <%- errmsg %> </p>
    <% } %>
</body>
</html>